{% extends 'headfoot.html' %}
{%load static%}
{% block body  %}
<div class="card hov" style="max-width: 540px; margin:auto; margin-top:110px; margin-bottom:262px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{%static "images/down.png"%}" class="img-fluid rounded-start m-3" alt="...">
      </div>
<div class="col-md-8">
    <div class="card-body ms-3">
      <h5 class="card-title">Download Medical Records from Cloud</h5>
      <p class="card-text">Download your Medical Data that is stored in Cloud. It will be combination of three blocks and decrypted into single File.</p>
      <form action="/down/" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
      <button type="submit"class="btn btn-success">Download File Here</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<div>
    <footer class="footer1">Copyright © 2023-2024 HealthCare.
        All Rights are reserved</footer>
        {% comment %} <ul> {% endcomment %}
        {% comment %} <li><a href="/block/" target="pageFrame">Block Formation</a></li>
        </ul>
        <iframe name="pageFrame" frameborder="0"></iframe>
        <br> {% endcomment %}
        

        {% comment %} <button type="submit">Upload</button> {% endcomment %}
        </form>
        {% endblock body  %}
